/* custom styles */
body {
  background: url("https://jamesnsummers.github.io/assets/imgs/james.jpg") no-repeat center center fixed;
  background-size: cover;
  text-align: right;
  color: rgba(255, 255, 255, 0.8);
  padding-top: 20%;
  padding-right: 15%;
}
